<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=localhost;uid=cloneU7372;pwd=ytp0@tp*}(UC;Database=clone" name="clone" providerName="MySql.Data.MySqlClient"/>
    <add connectionString="Server=69.195.124.147;Database=someday8_accelerate;Uid=someday8_kali;Pwd=Kar052905!" name="someday8_accelerate" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>
			<rule name="wordpress" patternSyntax="Wildcard">
				<match url="*"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
				<action type="Rewrite" url="index.php"/>
			</rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
